@use "../abstract/variables" as v;
@use "sass:map";

//styles for login page

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: v.$bg-main;
    padding: 2rem;
}


//styles for login container

.login-container {
    display: flex;
    flex-direction: row;
    max-width: 85rem;
    min-height: 50rem;
    align-items: stretch;
    border-radius: 0.8rem;
    box-shadow: 0px 5px 10px 0px rgba(0, 24, 129, 0.674);
    background-color: v.$bg-main;
    width: 100%;
}

//styles for signup aside

.signup-aside {
    background-color: v.$button-primary;
    color: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem;
    text-align: center;
    border-top-right-radius: 8rem;
    border-bottom-right-radius: 8rem;
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
        .aside-title {
            font-size: 2.8rem;
            font-weight: map.get(v.$font-weight, bold);
            margin-bottom: 1rem;
        }
        .aside-text {
            font-size: 1.4rem;
            opacity: 0.8;
            margin-bottom: 2.5rem;
        }
        .register-btn {
            color: #ffffff;
            border: 2px solid #ffffff;
            padding: 0.8rem 3rem;
            border-radius: 0.8rem;
            font-size: 1.4rem;
            font-weight: map.get(v.$font-weight, medium);
            transition: all 0.3s ease;

            &:hover {
                background-color: #ffffff;
                color: v.$button-primary;
            }
        }

}

//styles for login main

.login-main {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.login-title {
    color: v.$text-primary;
    margin-bottom: 1rem;
}

.login {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
}

.login-button {
    background-color: v.$button-primary;
    color: #ffffff;
    border: none;
    border-radius: 0.8rem;
    padding: 0.8rem 1.2rem;
    margin:1rem 0;
    font-size: map.get(v.$font-size, paragraph);
    font-weight: map.get(v.$font-weight, medium);
    cursor: pointer;
}

.login-button:hover {
    opacity: 0.9;
}

//styles for login form

input {
    padding: 0.8rem;
    border: 1px solid v.$text-secondary;
    border-radius: 0.8rem;
    font-size: map.get(v.$font-size, paragraph);
    width: 100%;
}

//styles for forgot password link
.forgot-password {
    color: v.$text-primary;
    font-size: map.get(v.$font-size, subtitle);
    cursor: pointer;
}


@media (max-width: v.$bp-desktop) {
    body {
        padding: 1rem;
    }

    .login-container {
        flex-direction: column;
        max-width: 450px;
        min-height: auto;
    }

    .signup-aside {
        border-radius: 0.8rem 0.8rem 0 0;
        padding: 4rem 2rem;
    }

    .login-main {
        padding: 4rem 2rem;
    }
}



