@use "../abstract/variables" as v;
@use "sass:map";


#theme-switch {
    width: 5rem;
    height: 5rem;
    background-color: transparent;
    cursor: pointer;
    border-radius: 50%;
    border: none;
}

#theme-switch svg {
        fill: var(--button-primary);
}

#theme-switch svg:last-child {
    display: none;
}

.darkmode #theme-switch svg:first-child {
    display: none;
}

.darkmode #theme-switch svg:last-child {
    display: block;
}